<div style="padding: 20px;">
  <h1>Calculo de Distancias de 4 Factores</h1>

  <form [formGroup]="formulario">
    <div style="display: flex; gap: 50px;">

      <div>
        <div>
            <label for="x1" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">(X1)</label>
            <input type="number" id="x1" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" formControlName="x1" placeholder="Primer numero" required />
        </div>

        <div>
            <label for="y1" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">(Y1)</label>
            <input type="number" id="y1" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" formControlName="y1" placeholder="Segundo numero" required />
        </div>

        <div>
            <label for="x2" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">(X2)</label>
            <input type="number" id="x2" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" formControlName="x2" placeholder="Tercero numero" required />
        </div>

        <div>
            <label for="y2" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">(Y2)</label>
            <input type="number" id="y2" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" formControlName="y2" placeholder="Cuarto numero" required />
        </div>

        <button class="btn btn-primary"(click)="calcularDistancia()">
          Calcular
        </button>
      </div>

      <div style="margin-top: 80px;">
        <h3 id="resultado">
          El resultado es:
          <span>
            {{ resultado }}
          </span>
        </h3>
      </div>
    </div>
  </form>
</div>
